[submodule "backend"]
	path = backend
	url = https://github.com/protoledger/protoledger-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/protoledger/protoledger-frontend.git
